<h1>Crypto Listing</h1>

<%	@coins %>

<table class="table table-striped table-bordered table-hover">
	<thead>
	<tr>
	<th>Rank</th>
	<th>Name</th>
	<th>Symbol</th>
	<th> 1 HR%</th>
	<th> 24 HR% </th>
	<th>Price (USD)</th>
</tr>
	</thead>


<tbody>
<% for x in @coins %>
	<% for coin in @my_coins %>
	<% if coin == x["symbol"] %>
	<tr>
	<td><%= x["rank"] %></td>
	<td><%= x["name"] %></td>
	<td><%= x["symbol"] %></td>
	<td><%=x["percent_change_1h"] %></td>
	<td><%=x["percent_change_24h"] %></td>
	<td>$<%= x["price_usd"]%></td>
	</tr>
		<%end %>
	<%end%>
<%end%>
</tbody>
</table>
