<% for x in @show_coin %>
	<% if @coin.symbol.upcase == x["symbol"]  %>

		<% coin_name = x["name"] %>
		<% coin_price = x["price_usd"]%>
		<% coin_rank = x["rank"] %>
		<% end %>
	<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= coin_name  %></h3>
  </div>
  <div class="panel-body">

<h1><%= @coin.symbol.upcase %></h1>

<p>
	<strong>Current Price: </strong>
	<%= coin_price %>
</p>

<p>
	<strong>Rank: </strong>
	<%= coin_rank %>
</p>
<p>
  <strong>Cost per:</strong>
  <%= @coin.cost_per %>
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @coin.amount_owned %>
</p>

</div>
	<div class="panel-footer">
	<%= link_to 'Edit', edit_coin_path(@coin) %> |
	<%= link_to 'Delete Crypto Currency', coin_path(@coin), method: :delete, data: { confirm: "Are you sure?"}  %> |
	<%= link_to 'Back', coin_path %>
	</div>
</div>

